<div class="container">
  <div class="row align-items-center" style="text-align: center;">
    <div class="col-lg-12">
      <h1>Vítej na stánce testů</h1>
    </div>
    <div class="col-lg-12">
      <h2>Login form</h2>
      <form id="loginForm">
        <input matInput type="text" name="username" [(ngModel)]="username">
        <input matInput type="password" name="password" [(ngModel)]="password">
        <button name="login" (click)="login()">Přihlásit</button>
      </form>
    </div>
    <div class="col-lg-12">
      One of three columns
    </div>
  </div>
</div>